header{
  text-align: center;
}
header > h1 {
  background-color: rgb(255, 167, 158);
  border: 5px rgb(199, 97, 97) solid;
  border-radius: 50px;
}
body{
  padding:1px;
  background-color: azure;
  height: 100vh;
}
#description {
  display: flex;
  flex:1;
}
#description > p {
  background-color: rgb(255, 167, 158);
  border: 5px rgb(199, 97, 97) solid;
  border-radius: 50px;
  padding: 5px;
  flex: 1;
}
#description > div {
  flex: 1;
}
#itemSelection > div > img {
  width: 80%;
  height: auto;
  border: 2px solid black;
  display: block;
  margin: auto;
}
#itemSelection > div 
{
  flex: 1;
}
#itemSelection > div > h2
{
  text-align: center;
  background-color: rgba(255, 168, 158, 0.575);
  border: 1px rgb(199, 97, 97) solid;
  border-radius: 50px;
}
#itemSelection {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#description {
  text-align: center;
}
#results {
  position: relative;
  height: 10px;
  margin-left: 5%;
  margin-right: 5%;

}
#results > button {
  display:block;
  width: 100%;
  top:0px
}
#results > div {
  display: block;
  padding-left: 10%;
  padding-right: 10%;
}
canvas {
  height: 0px;
}
